body {
    font-family: sans-serif;
}

.display {
    display: inline-block !important;
}

div.view {
    height: 100%;
    width: 65%;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    align: right;
    padding: 10px;
}

div.view img {
    overflow-x: scroll;
    max-width: 100%;
    display: none;
}

div.view video {
    overflow: hidden;
    max-width: 100%;
    display: none;
}

body.markdown {
    margin: 0 auto;
    width: 60%;
}