body {
    font-family: sans-serif;
}

.display {
    display: block !important;
}

div.view {
    height: 100%;
    width: 50%;
    float: right;
}

div.view img {
    overflow-x: scroll;
    max-width: 100%;
    display: none;
}

div.view video {
    overflow: hidden;
    max-width: 100%;
    display: none;
}

body.markdown {
    margin: 0 auto;
    width: 60%;
}